






.row-header{
    width: 100%;
    background-color: rgb(32, 32, 33);
    height: 45px;
}

.navbar-brand{
    color: aliceblue;
    font-size: medium;
    font-weight: bold;
    margin-left: 13px;
    margin-top: -10px;
}

.row-general{
    display: flex;
    width: 100%;
    height: 650px;
}

.col-sidebar{
    width: 5%;
    height: 650px;
}

.2main-menu:hover,nav.main-menu.expanded {
width:150px;
overflow:visible;
}

.main-menu {
    background:#212121;
    border-right:1px solid #e5e5e5;
    position:absolute;
    width: 5%;
    height: 650px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}


.main-menu>ul {
margin:7px;

}

.main-menu li {
position: relative;
display: block;
width: 250px;
padding-top: 10px;
}

.main-menu li>a {
    position:relative;
    margin-left: -20px;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 30px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.table-primary tr>th{
    text-align:center;
    font-size: small;
    
}

.table-primary tr>td{
    text-align:center;
    font-size: small;
}


.col-contenido{
    width: 95%; 
    height: 650px;
}



