{% extends 'base.html' %}
{% load static %}
{% include 'messages.html' %}
{% include 'upload.html' %}
{% block contenido %}

<head>
   <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>  
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>  
    <script> 
    
        $('#time').datetimepicker({
            format: 'yyyy-mm-ddThh:mm:ss'
        });


        $(function() {  
          $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DDTH:m:s'});
            
        });
        
        $(function() {  
          $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DDTH:m:s'});
         
        }); 
        
        
    </script>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">    
    

</head>






<div class="card" style="font-size: medium;">
    <div class="card-header">
        Avion
    </div>
    <form action="" method="POST">
        {% csrf_token %}   
    <div class="container" style="margin: 0; padding: 0;" >
        
    <section>    
            <br>
            <div class="container-label" style="height: 38px; width: 850px; margin-left: 370px; padding-bottom: 0px;">
                <label id="Inicio">Fecha y Hora del Inicio:</label>
                <label id="Fin" style="margin-left: 40px;">Fecha y Hora de Fin:</label>
                <label id="desde" style="margin-left: 50px;">Origen</label>
                <label id="hasta" style="margin-left: 60px;">Destino</label>
                <label id="tiempo_vuelo" style="margin-left: 40px;">Tiempo de Vuelo</label>

            </div>    
            <select name="piloto" class="form-select" aria-label=".form-select-sm example" style="float: left; margin-left: 1%; width: 200px; height: 38px; font-size: 15px; padding-top: 0px;">
                
                
                {% for user in users %}
                    {%if vuelos.usuario_id == user.id %}
                        <option selected value={{user.id}}>{{user.apellido}} {{user.nombre}}</option>
                    {% endif %}
                <option value={{user.id}}>{{user.apellido}} {{user.nombre}}</option>
                {% endfor%}
                
            </select>
            <select name="avion" class="form-select" aria-label="form-select-sm example" style="float: left; margin-left: 25px; width: 100px; height: 38px; font-size: 15px;">
                
                {% for plane in planes %}
                    {% if vuelos.avion_Id == plane.id  %}
                        <option  selected value={{plane.id}}>{{plane.matricula}}</option>
                    {% endif %}

                <option  value={{plane.id}}>{{plane.matricula}}</option>
                {% endfor %}
                
            </select>
        </section>
        <div class="container_datetime" style="width: 190px; float: left; height: 35px; margin-left: 25px;">
            <div class ='input-group date' id='datetimepicker1'>     
                <input required type ='text' class="form-control" name="inicio_f_h" value="{{vuelos.inicio}}"/>  
                <span class ="input-group-addon">  
                    <span class ="glyphicon glyphicon-calendar"></span>  
                </span>  
            </div>    
        </div>
        
        <div class="container_datetime" style="width: 190px; float: left; height: 35px; margin-left: 25px;">
            <div class ='input-group date' id='datetimepicker2'>     
                <input required type ='text' class="form-control" name="fin_f_h" value="{{vuelos.fin}}"/>  
                <span class ="input-group-addon">  
                    <span class ="glyphicon glyphicon-calendar"></span>  
                </span>  
            </div>    
        </div>   

        <input type="desde" name="desde" class="form-control" value="{{vuelos.origen}}" style="float: left; margin-left: 20px; width: 100px; height: 38px; font-size: 15px;"required>
        <input type="hasta" name="hasta" class="form-control" id="hasta" value="{{vuelos.destino}}" style="float: left; margin-left: 20px; width: 100px; height: 38px; font-size: 15px;"required>
        <input type="text" name="tiempo_vuelo" class="form-control" id="tiempo_vuelo" value="{{vuelos.tiempovuelo}}" style="float: left; margin-left: 30px; width: 100px; height: 38px; font-size: 15px;" required>


    </div>  
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
        <a name="" id="" class="btn btn-info btn-sm" href="{% url 'upload' vuelos.id %}" role="button">Upload</a>
        <a class="btn btn-info btn-sm" href="{% url 'download' vuelos.id %}" role="button">Descarga</a>

                
 
    {% endblock %}  
</div>



</form>

    <div class="card-footer text-muted">
        Footer 
    </div>
</div>
