{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% include 'messages.html' %}
 
<div class="card" style="font-size: medium;">
    <div class="card-header">
        Listar Usuarios
    </div>
    <form action="" method="POST">
        {% csrf_token %}      
    <div class="container-pepe">
    
        <div class="col-6" style="padding-left: 20px;">

                <br>
                <br>
                <div class="row mb-3">
                    <label for="nombre"  class="col-sm-2">Nombre</label>
                    <div class="col-sm-10">
                        <input type="nombre" name="nombre" class="form-control-sm" id="nombre" value="{{users.nombre}}">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="apellido" class="col-sm-2">Apellido</label>
                    <div class="col-sm-10">
                        <input type="nombre" name="apellido" class="form-control-sm" id="apellido"value="{{users.apellido}}">
                    </div>
                </div>
            
                <div class="row mb-3">
                    <label for="email" class="col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <input type="nombre" name="email" class="form-control-sm" id="email"value="{{users.email}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="username" class="col-sm-2">Username</label>
                    <div class="col-sm-10">
                        <input type="username" name="username" class="form-control-sm" id="username" value="{{users.username}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control-sm" id="password " required>  
                    </div>
                </div>            
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                
        </div>  
    </div>
        {% endblock %}  
    </form>

    <div class="card-footer text-muted">
        Footer 
    </div>
    </div>
</div>



