{% extends 'base.html' %}
{% load static %}
{% include 'messages.html' %}
{% block contenido %}
{% csrf_token %}
<div class="card" style="font-size: medium;">
    <div class="card-header">
        Listar Usuarios
    </div>
    <div class="card-body">
        <a name="" id="" class="btn btn-info" href="{%url 'altauser'%}" role="button">Agregar</a>
        <br>
        <h4 class="card-title">Usuario</h4>
        
        <div class="table-responsive-sm">
            <table class="table table-primary table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for user in users %}
                    <tr class="">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a name="" id="" href="{% url 'editar' user.id%}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            
                            <a name="" id="" href="{% url 'eliminar' user.id%}" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        


    </div>
    <div class="card-footer text-muted">
        Footer 
    </div>
</div>
{% endblock %}


